* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.header {
  width: 100%;
  background-color: #613659;
  background-size: cover;
  position: relative;
}
nav {
  width: 100%;
  position: fixed;
  height: 80px;
  background: #613659;
  display: flex;
  padding: 2.5rem;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 150px;
  color: white;
  font-size: 32px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
}
.nav-links ul li button {
  width: 100%;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15 px;
}
.nav-links ul li a:hover {
  cursor: pointer;
  color: #ff04d0;
}

.home {
  background-color: #261827;
  display: flex;
  align-items: center;
}
.home button {
  width: 50%;
}
.picture {
  width: 50%;
}
.picture img {
  width: 100%;
  padding: 4rem;
  border-radius: 0% 40% 40% 40%;
}
.text {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.text h3 {
  color: #d2b5de;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #dd43c0;
  color: rgba(255, 255, 255, 0.911);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  width: 30%;
  position: relative;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #ff04d0;
  font-weight: 500;
  transition: 1s;
}

.menubtn {
  position: absolute;
  top: 1.8rem;
  right: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  background: transparent;
}

nav .fa {
  display: none;
}

/* ----------ABOUT---------- */

.about {
  background-color: #261827;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.about h3 {
  color: white;
}
.about span {
  color: #ff04d0;
}
p {
  color: white;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/*----------- SKILLS ---------------*/

.skills {
  background-color: #261827;
  display: flex;
  flex-direction: row;
}
.shortimage {
  width: 50%;
  padding: 0rem 4rem;
  height: 65vh;
}
.shortimage img {
  width: 100%;
  height: 100%;
}
.skill-box {
  width: 100%;
  height: 100%;
  padding: 0rem 0.5rem;
}
.mentioned {
  margin: 0rem 4rem 0rem 0rem;
  padding: 0.5rem;
  margin-top: 2rem;
}
.mentioned .title {
  display: block;
  font-size: 0.8rem;
  font-weight: 250;
  color: rgba(255, 255, 255, 0.719);
}

.progression-bar {
  height: 0.8rem;
  width: 100%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 0.7rem;
  margin-bottom: 2.5rem;
}
.progression-per {
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 1rem;
  background-color: #dd43c0;
}
.progression-per.css {
  width: 65%;
}
.progression-per.javascript {
  width: 75%;
}
.progression-per.github {
  width: 87%;
}

/* ------------------BLOGS--------------- */

.blog {
  width: 100%;
  background-color: #261827;
  padding: 4.2rem;
}

/* ============= NEW BLOG  ==========*/
.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
}
.post-thumb {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 1rem solid rgb(85, 44, 85);
}
.post-thumb img {
  width: 100%;
}
.post .post-thumb {
  border: 0.2rem solid rgb(37, 3, 37);
  border-radius: 8px;
}

.single-post {
  margin: auto;
  width: 100%;
  border: 1px solid rgb(32, 3, 32);
  padding: 1rem;
}
.single-post-container {
  width: 100%;
  padding: 1rem 2rem 2rem;
  background-color: rgb(32, 2, 32);
  color: white;
}
.single-post h2,
.single-post h5 {
  color: aliceblue;
}
.single-post p {
  margin-top: 1rem;
  line-height: 1.7;
}
.single-post-thumb {
  margin-top: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 0.1rem solid rgb(85, 44, 85);
}
.single-post-thumb img {
  width: 100%;
  display: grid;
  place-items: center;
}
.post-profile {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
.post-profile-img {
  height: 3.2rem;
  width: 3.2rem;
  overflow: hidden;
  border-radius: 50%;
}
.post-profile button {
  background-color: #340e36;
  color: rgb(245, 235, 235);
  width: auto;
  padding: 0.3rem;
}
.post-profile button:hover {
  background-color: #dd43c0;
  color: white;
}
.post-profile i {
  font-size: 1rem;
  padding: 0rem 0.5rem;
}
.post-profile .faire {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .post-container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .single-post-container {
    padding: 1.3rem;
    width: 70%;
  }
}
@media (max-width: 600px) {
  .post-container {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .single-post-container {
    padding: 1.3rem;
    width: 90%;
  }
  .single-post p {
    line-height: 1.6;
  }
  .single-post-thumb {
    margin-top: 1rem;
  }
}

/*------------------- CONNECT----------------- */

.reachOnMe {
  background-color: #261827;
  display: flex;
  justify-content: space-between;
  padding: 2.1rem 4.2rem;
}
.contact {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.findmeon {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.icon {
  /* background-color: yellow; */
  padding: 0.5rem;
}
.icon i {
  /* background-color: black; */
  color: white;
  font-size: 50px;
}
.through {
  /* background-color: #DD43C0; */
  padding: 0.5rem;
}
.through label {
  color: rgba(255, 255, 255, 0.473);
  font-weight: 100;
  font-size: 0.9rem;
}
.through h5 {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.messageme {
  width: 100%;
}
.message-box {
  padding: 0.3rem;
}
.message-box h5 {
  color: rgba(255, 255, 255, 0.473);
  font-weight: 200;
  margin-bottom: 0.9rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boxes input,
textarea {
  padding: 0.6rem;
  background-color: #d9d9d983;
  border: 1px solid #d9d9d9;
  border-radius: 0.6rem;
}
.boxes input::placeholder,
textarea::placeholder {
  color: white;
}
.boxes .long {
  height: 14rem;
  text-align: start;
}
.boxes .long::placeholder {
  float: inline-start;
}

@media (max-width: 525px) {
  .contact,
  .findmeon {
    gap: 1rem;
  }
  .icon i {
    font-size: 10px;
  }
  .through h5 {
    font-size: 0.8rem;
  }
}

/*-------------------- FOOTER---------------------- */

.footer {
  background-color: #613659;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 6.5rem;
  color: #d2b5de;
}
.created span {
  color: white;
}
.socialplatforms i {
  font-size: 20px;
}

@media (max-width: 895px) {
  h1 {
    font-size: 1.4rem;
  }
  .about h3 {
    font-size: 1rem;
  }
  .about p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .blog {
    flex-direction: column;
    gap: 0.8rem;
  }
  .skills {
    flex-direction: column;
    gap: 0.4rem;
  }
  .skills .shortimage {
    width: 100%;
    height: 75vh;
    border-radius: 20px;
  }
  .skill-box .shortimage img {
    width: 100%;
    height: 100vh;
  }
  .skills .skill-box {
    padding: 4rem;
  }
  .reachOnMe {
    flex-direction: column;
    gap: 2.8rem;
  }
  .picture img {
    padding: 2rem;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background-color: #250f27;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: center;
    z-index: 2;
    border-radius: 30% 0 15% 30%;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 0.6rem;
    font-size: 22px;
    cursor: pointer;
    text-align: right;
  }
  .nav-links ul {
    padding: 1.8rem;
    line-height: 1.8rem;
  }
  .home {
    display: flex;
    flex-direction: column;
  }
  .home .text button {
    width: 50%;
    font-size: 0.5rem;
  }
  .icon i {
    font-size: 30px;
  }
  .through label {
    font-size: 0.7rem;
  }
  .through h5 {
    font-size: 1rem;
  }
}

::backdrop {
  background: radial-gradient(#410536,#4e0d42);
}
#commentDialog{
  color: white;
  background-color: rgb(37, 2, 37);
  width: 100%;
  height: 100%;
  padding: 1rem 10rem;
  z-index: 2;
  margin: 1rem 1rem;
  border-radius: 0.3rem;
  border: none;
 
  /* display: none;
  margin: 2rem;
  width: 100%;
  background: radial-gradient(#520843 18%,#410536);
  color: white;
  padding: 4rem; 
 
  display: flex;
  justify-content: center;
  align-items: center; 
  border-style: hidden; */
}
#commentDialog .Comframe{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 5rem;
  padding: 3rem 4rem;
  background: radial-gradient(#38022d 18%,#33002a);
}
#commentDialog form input{
  color: white;
}
#commentDialog form input, #commentDialog form input{
  background-color: rgb(199, 184, 184);
  border: none;
}
#commentDialog form button{
  width: 20%;
  text-align: center;
}
#commentDialog form button:hover{
  background-color: #ca1baa;
}
